<!DOCTYPE html>
<html>
<head>

    <title>ngDroplet</title>

    <!-- Dependencies! -->
    <script type="text/javascript" src="js/vendor/angular/angular.js"></script>
    <script type="text/javascript" src="js/vendor/angular-mocks/angular-mocks.js"></script>
    <script type="text/javascript" src="js/vendor/ng-droplet/ng-droplet.js"></script>

    <!-- Styles! -->
    <link rel="stylesheet" type="text/css" href="css/Default.css" />

    <!-- Application! -->
    <script type="text/javascript" src="js/app/Default.js"></script>

</head>
<body ng-app="dropletApp">

    <section class="droplet" ng-controller="IndexController">

        <h1>Upload Files ({{interface.getFiles().length}} in total)</h1>

        Invalid Files: {{interface.getFiles(interface.FILE_TYPES.INVALID).length}}
        Uploaded Files: {{interface.getFiles(interface.FILE_TYPES.UPLOADED).length}}

        Progress: {{interface.progress}}

        <droplet ng-model="interface"></droplet>

        <input type="button" ng-click="interface.uploadFiles()" value="Upload Files" />

    </section>

</body>
</html>