<!DOCTYPE html>
<html>
<head>

    <title>ngDroplet</title>

    <!-- Dependencies! -->
    <script type="text/javascript" src="js/vendor/angular/angular.js"></script>
    <script type="text/javascript" src="js/vendor/angular-mocks/angular-mocks.js"></script>
    <script type="text/javascript" src="js/vendor/ng-droplet/ng-droplet.js"></script>

    <!-- Styles! -->
    <link rel="stylesheet" type="text/css" href="css/Default.css" />

    <!-- Application! -->
    <script type="text/javascript" src="js/app/Default.js"></script>

</head>
<body ng-app="dropletApp">

    <droplet>

        <h1>Upload Files ({{files.length}} in total)</h1>

        <ul class="counts">
            <li class="valid">Valid: {{validFiles.length}}</li>
            <li class="invalid">Invalid: {{invalidFiles.length}}</li>
            <li class="uploaded">Uploaded: {{uploadedFiles.length}}</li>
            <li class="deleted">Deleted: {{deletedFiles.length}}</li>
        </ul>

        <div class="buttons">
            <button data-droplet-upload-all>Upload All</button>
            <button data-droplet-clear-all>Clear</button>
            <button data-droplet-abort-upload>Abort Upload</button>
        </div>

        <h3 class="uploading-percentage">
            Uploaded Percentage: {{uploadStatus.percentComplete}}%
        </h3>

        <dragdrop>

            <div class="error" ng-show="uploadStatus.error">
                An error occurred during the upload process. Please try again later.
            </div>

            <div class="file" ng-repeat="file in validFiles" ng-class="{ type: type }">

                <a class="remove" ng-click="deleteFile()">Discard.</a>
                <image-preview ng-model="file"></image-preview>

            </div>

            <input data-droplet-multiple />

        </dragdrop>

    </droplet>

</body>
</html>